<!DOCTYPE html>
<html lang="en">
<head>
  <title>Example of web</title>
  <link href="/css/site.css" type="text/css" rel="stylesheet" />
</head>
<body>
  <div class="container">
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li></li>
      {{#if currentUser}}
        <li>{{currentUser.username}}</li>
        <li>
          <form id="logout-form" action="/users/logout" method="POST"></form>
          <a href="javascript:document.getElementById('logout-form').submit()">Logout</a>
        </li>
      {{else}}
        <li><a href="/users/register">Register</a></li>
        <li><a href="/users/login">Login</a></li>
      {{/if}}
    </ul>
    <section>
        {{#if globalError}}
          <h3>{{globalError}}</h3>
        {{/if}}
        {{#if errorMsg}}
            <h3 class="error">{{errorMsg}}</h3>
        {{/if}}
        {{#if successMsg}}
            <h3 class="success">{{successMsg}}</h3>
        {{/if}}
    </section>
    {{{body}}}
  </div>
</body>
</html>